/* General site-wide styles */
@import 'https://fonts.googleapis.com/css?family=Amaranth|Open+Sans';

body { font-family: 'Open Sans', sans-serif;}
h1, h2, h3 {font-family: 'Amaranth', sans-serif;}
p {padding:5px 0; text-indent: 20px;}